  <h1> User Index! </h1>

  <% @users.each do |user| %>
  <div>
    <%=user.username%>|<%=user.email%>|<%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  </div>
  <%end%>
