#app > .review-container {
  overflow: scroll;
  word-wrap: break-all;
  height: 500px;
  background-color: #82d2d6;
  border: 5px solid #604848;
  width: 89%;
  margin:7px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

 #app > .review-container > .review {
   text-align: left;
   overflow: auto;
  word-wrap: break-word;
   white-space: pre-wrap;
  background-color: #82d2d6;
  border: 5px solid #604848;

  margin:7px auto;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;


}


#app > .review-container > .form-show  {
  height: 150px;
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #82d2d6;
  border: 5px solid #604848;
  margin:7px auto;
  margin-right: 20px;
  width: 100%;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
