#show-body > video-box,  iframe  {
	text-align: center;
	width: 90%;
  border-spacing: 50px;
	overflow: auto;
	word-wrap: break-word;
	 white-space: pre-wrap;
	 border: 5px solid #604848;

}




 .article {
   font-size: 70%;
 }
 .feed-box {
	 height: 10%;
	 width: 100%;
     position: relative;
 	background-color: #82d2d6;
 	border: 1px solid #ddd;
 	margin-bottom: 10px;
 }
