#show-body > video-box  {
	position: relative;
	text-align: center;
	width: 120%;
  border-spacing: 100px;
	overflow: auto;
	word-wrap: break-word;
	 white-space: pre-wrap;
	 border: 5px solid #604848;
}




 .article {
   font-size: 70%;
 }
 .feed-box {
	 height: 100%;
	 width: 100%;
     position: relative;
 	background-color: #82d2d6;
 	border: 1px solid #ddd;
 	margin-bottom: 10px;
 }
