#show-body > .video-box, p, iframe  {
	text-align: center;
	width:100%;
  border-spacing: 50px;
	padding-top: 25px;
}




 .article {
   font-size: 70%;
 }
 .feed-box {
	 height: 10%;
	 width: 100%;
     position: relative;
 	background-color: #82d2d6;
 	border: 1px solid #ddd;
 	margin-bottom: 10px;
 }
